body	{
	background: white;
	padding: 5px;
	height: 667px;
	width: 375px;
	margin: auto;
}

header, main, footer {
	width: 375px;
}

header	{
	background: black;
	height: 83.375px;
}

.menu {
	float: left;
	padding: 9.6875px;
}

.refresh {
	float: right;
	padding: 9.6875px;
}

.wyp_header {
	font-family: "Permanent Marker";
	font-size: 64px;
	vertical-align: center;
	color: #7FFF00;
	display: flex;
	align-items: center;
}
main 	{
	background: white;
	height: 500.25px;
}

.menu_items {
	width: 365px;
	height: 490.25px;
	padding: 5px;
	margin: auto;
	display: block;
	color: black;
}

.menu_item {
	font-family: "Quicksand";
	font-size: 24px;
	padding: 14px;
	text-align: center;
	border-bottom: 1px solid black;
	background-color: white;
}

.menu_items a {
	font-family: "Quicksand";
	text-decoration: none;
	color: black;
}

.menu_item:hover, .menu_item a:hover {
	background-color: black;
	color: #7FFF00;
}

.dashboard_top {
	height: 32px;
	text-align: center;
	font-family: "Quicksand";
	font-size: 24px;
	font-weight: bold;
}

.driver_name {
	padding: 4px;
}

.dashbaord_all {
	width: 375px;
	height: 266px;
}

.dashboard_left {
	width: 177.5px;
	height: 266px;
	padding: 5px;
	float: left;
}

.dashboard_right {
	width: 177.5px;
	height: 266px;
	padding: 5px;
	float: right;
}

.driver_service {
	display: block;
	margin: auto;
	height: 64px;
}

.driver_service_text {
	font-size: 16px;
	font-family: "Quicksand";
	text-align: left;
	vertical-align: middle;
	align-items: left;
	padding-top: 16px;
	padding-bottom: 16px;
}

.hourly_rate_text {
	font-size: 16px;
	font-family: "Quicksand";
	text-align: left;
	vertical-align: middle;
	align-items: left;
	border: none;
	width: 177.5px;
	padding-top: 11px;
	padding-bottom: 11px;
}

.hourly_rate_input {
	font-size: 16px;
	font-family: "Quicksand";
	text-align: left;
	vertical-align: middle;
	align-items: left;
	border: none;
	width: 177.5px;
}

.hourly_rate {
	height: 64px;
	display: block;
	margin: auto;
}

.vehicle_text {
	font-size: 16px;
	font-family: "Quicksand";
	text-align: left;
	vertical-align: middle;
	align-items: left;
	padding-top: 16px;
	padding-bottom: 16px;
}

.location_text {
	font-size: 16px;
	font-family: "Quicksand";
	text-align: left;
	vertical-align: middle;
	align-items: left;
	padding-top: 16px;
	padding-bottom: 16px;
}

.ride_request {
	font-size: 24px;
	font-family: "Quicksand";
	text-align: center;
	vertical-align: middle;
	background: black;
}

.ride_request_text {
	height: 32px;
	color: #7FFF00;
	padding: 4px;
}

.ride_request_left {
	float: left;
	width: 177.5px;
	height: 72px;
	margin: auto;
	align-items: center;
	display: block;
}

.ride_request_right {
	float: right;
	width: 177.5px;
	height: 72px;
	margin: auto;
	align-items: center;
	display: block;
}

.ride_alert {
	padding-top: 4px;
	padding-bottom: 4px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ride_alert_fields {
	font-size: 14px;
	font-family: "Quicksand";
	text-align: left;
	vertical-align: middle;
	align-items: left;
	padding-top: 15px;
	padding-bottom: 15px;
}

.ride_accept_button {
	text-align: center;
	font-family: "Quicksand";
	font-size: 24px;
	width: 167.5px;
	height: 64px;
	border-style: none;
	margin: auto;
	background: #7FFF00;
	color: white;
	overflow: auto;
	float: right;
	padding: 5px;
}

.ride_deny_button {
	text-align: center;
	font-family: "Quicksand";
	font-size: 24px;
	width: 167.5px;
	height: 64px;
	border-style: none;
	margin: auto;
	background: red;
	color: white;
	overflow: auto;
	float: left;
	padding: 5px;
}


.login_top {
	height: 100.05px;
}

.signup_top {
	height: 100.05px;
	align-items: center;
	vertical-align: middle;
}

.signup_title {
	text-align: center;
	font-family: "Quicksand";
	font-size: 32px;
	color: black;
	padding-top: 22.03px;
}

.signup_subtitle {
	text-align: center;
	font-family: "Quicksand";
	font-size: 24px;
	color: #7FFF00;
	vertical-align: middle;
	align-items: center;
	padding-bottom: 22.03px;
}

.login_title {
	text-align: center;
	font-family: "Permanent Marker";
	font-size: 64px;
	color: #7FFF00;
	padding: 18.025px;

}

.signup_email, .signup_fname, .signup_lname, .signup_city, .signup_zip, .signup_password, .signup_phone, .signup_state {
	text-align: center;
	font-family: "Quicksand";
	font-size: 24px;
	width: 370px;
	border-style: none;
	border: 1px solid gray;
	background: #F8F8F8;
	margin-top: 5px;
	vertical-align: center;
}

.signup_middle {
	height: 330.2px;
}

.signup_fields {
	margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_middle_upper {
	height: 100.05px;
}

.login_sub_title {
	text-align: center;
	font-family: "Quicksand";
	font-size: 32px;
	padding-top: 18.025px;
	padding-bottom: 18.025px;
	color: black;
}

.login_middle_lower {
	height: 230px;
}

.login_header {
	text-align: center;
	font-family: "Quicksand";
	font-size: 24px;
	padding-top: 18.025px;
	color: black;
}

.login_username {
	text-align: center;
	font-family: "Quicksand";
	font-size: 24px;
	width: 375px;
	border-style: none;
	border-bottom: 1px solid black;
	margin-top: 18.025px;
}

.login_password {
		text-align: center;
		font-family: "Quicksand";
		font-size: 24px;
		width: 375px;
		border-style: none;
		border-bottom: 1px solid black;
		margin-top: 18.025px;
}

.login_button {
	text-align: center;
	font-family: "Quicksand";
	font-size: 24px;
	width: 375px;
	height: 64px;
	border-style: none;
	margin-top: 18.025px;
	background: #7FFF00;
	color: white;
	overflow: auto;
}

.sign_up_bottom {
	height: 65.15px;
	text-align: center;
	vertical-align: middle;
}

.signup_button {
	text-align: center;
	font-family: "Quicksand";
	font-size: 24px;
	width: 375px;
	height: 60px;
	border-style: none;
	margin-top: 5px;
	background: #7FFF00;
	color: white;
	overflow: auto;
}

.sign_up_notify {
	font-family: "Quicksand";
	font-size: 10px;
	padding-top: 5px;
	color: gray;
}

.sign_up_link, .sign_up_link a{
	font-family: "Quicksand";
	font-size: 16px;
	color: black;
	font-style: normal;
	padding-top: 12px;

}

.forgot_password, .forgot_password a {
	font-family: "Quicksand";
	font-size: 10px;
	padding-top: 12px;
	text-decoration: none;
	color: black;
}
footer {
	background: black;
	height: 83.375px;
}
